language: php
dist: trusty
cache:
  directories:
  - "$HOME/.composer/cache/files"
  - "$HOME/symfony-bridge/.phpunit"
env:
  global:
  - APP_ENV="test"
  - PHPUNIT_FLAGS="-v"
  - SYMFONY_PHPUNIT_DIR="$HOME/symfony-bridge/.phpunit"
#  - secure: sI6H41jH1QDePeiYD8grfE7TA7vPXMEs8VczCYbcd7UmruhY52IUzoW1i2mk69g6w4RGjC8NApISJJL209B9M+8Ybr4oJM0cW9qDra7M34zYbKCNjGOCktRE9eiiQF42z6Slk63N2TeCfzzdg9BKWr4ctY5bDomSWKBXISSTvqJTNAmJzELi9rSnRiIknyfBrQypmsgPzqPbuWO8TNaV/NnzpughKyEAssa7qClUXwPoLU99h6XM5Lf3cJQROLWIh5QnatL2n8YHoRJa7FqXkWqD6IDKDMwJkz+DItAtttyQLBPUeLT1i8VTlBxAE1p3ppDvo3k8mb24h8f9TXlCqtzxxwzyEs8xF2s0PbcPMc01pk2WB8da9YCij/E+mjd7kVzx44AoSHp26imXGTfmu1V1rE/9uMCVIErgyKrK6l1j7XfLNL+q6lP3MhZUAu5Ti5uJwfONr+eiemsiLlnwAErEiLtq4lljnhcPBR3Dr54wL1jph4SMNy0U0ztefmhVLdBnluwnPSujRjK/SsEkP+PpW/IdQIyj8MLR5ujKZTHoWxfMn/qVy6m0E7UWC1sHeVUz/Dn6O+mJ6HrQIh+EaV9OEdZrfMB5Y3Jp0DOGNpu1dA4NbEEF0sZggO6H1kArnc6fd1o0A8nRTjhySYvD0s5zDhFNb48aFHyaw7g+KKM=
addons:
  mariadb: '10.4'
  sonarcloud:
    organization: "geeshoe"
    token:
      secure: "Tt8MgwEWOFkG23hA9O0IWjXwXj0s2a8IgV8rDTWMi8CoP1rxZ17Z5pPXjSzOR/oAdXNUTQyjYoqy31+xil5A4+H3QCfreGU5rMTusXFQM52F+5A84ujqJrZRgUMWYJ69j205W05OGmtCXUNGJTB02yVzdMDTNwM1BIwEtBvu9EEDtCv7ezcQRwuUKKryPKhd9LGDnDU8jy5AYi0OHc5HFHaLkw9qVgTjctIUpQrfesAcDGNS5etT8WUk6vTfXyc1FpTP6dEvuBWF140BPnrJtnFlyaak509b4gEATcdBFv57dgEuL2dIPTciuE4Rhk7Y7BTGaR34zJI5wKuUOKhInmcy16/zWc9Wn5Nub/6NA66gFq9L2K12qREIW5zLgtIOt9nKFFooPtIkW4hdCkRy+qQm6xRyz0DaSia1QpHTBWEvFebToa+aPPOoZP9N6JMQnbKera34WV/hHODO2K1IQVd7Mr7ZN5fU3N/a6V7J4psfQnOTZdjrg/48jkJM5unkaVpfUNklQIzYuxUkvx2v/Gpmu+uCpjeAbueMk5ZJmK1H4OCA5S3UN85E3o4b/6ao1QWz65ckH4xkzfxt8+Vbt5NLc9wkz+XauZBOy1cbx5C0sp9JJRBTHKeEWgeBE4nMWrFjSVzZbNLD3bAmyR87DmvomxvGv7T7u+jyw3LCqWY="
matrix:
  fast_finish: true
  include:
  - php: 7.4
    env: COVERAGE=true PHPUNIT_FLAGS="-v --coverage-text --coverage-clover=coverage-clover.xml"
  - php: 7.4
    env: STABILITY="dev"
  allow_failures:
  - env: STABILITY="dev"
before_install:
- if [[ $COVERAGE != true ]]; then phpenv config-rm xdebug.ini || true; fi
- if ! [ -z "$STABILITY" ]; then composer config minimum-stability ${STABILITY}; fi;
- if ! [ -v "$DEPENDENCIES" ]; then composer require --no-update ${DEPENDENCIES};
  fi;
install:
- sudo mysql -e 'CREATE DATABASE croaker;'
- sudo mysql -u root -e 'CREATE USER IF NOT EXISTS travis@localhost; GRANT ALL ON
  *.* TO travis@localhost;'
- COMPOSER_MEMORY_LIMIT=-1 travis_retry composer update ${COMPOSER_FLAGS} --prefer-dist
  --no-interaction
- php bin/console doctrine:migrations:migrate -n
- php bin/console doctrine:fixtures:load -n
- "./bin/phpunit"
script:
- composer validate --no-check-lock
- "./bin/phpunit $PHPUNIT_FLAGS --log-junit=phpunit.report.xml"
- sonar-scanner
