language: php
dist: trusty

cache:
  directories:
  - "$HOME/.composer/cache/files"
  - "$HOME/symfony-bridge/.phpunit"

env:
  global:
  - APP_ENV="test"
  - PHPUNIT_FLAGS="-v"
  - SYMFONY_PHPUNIT_DIR="$HOME/symfony-bridge/.phpunit"
  - GIT_COMMITTED_AT=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git log -1 --pretty=format:%ct; else git log -1 --skip 1 --pretty=format:%ct; fi)
  - secure: "ysv7UaByTv0x2jMSBPYNI4/UJkSorjnoQyxX8d7gXQRseR2TWMK7SAeCADghCusTnaJ/QqzQve+sOzxbKc2HaH9A2gHBACv1yJ1j0s0M5TcUinpRFZDAX//2pdTFXk80SqEUkDqfuQ3BRHOkwq/JYamajh0OnDUucZhCzcVZ9eM6INGPBHVO+LgajIk5xIXTBsW9TSN2oeiiomoK450b6UcozE/DPGoUa6RgAzyoOrPoRjr1HsA1WHB2wRqFTdoHoP8foqMeg67OiOHbLNediekK9qBbUrc7SmIge3rc+jJQVUvw3+9t90JcW2Cyi3alEKG7FcWN/Zhun2IPEvo3LeAWRYf1xukLiM90YYSvVwwP3X/WAQ1nFTxqNJCRWTHMwqAKp1xLDaAWtiEpTd8rj95MfCtRXsy2VAAel0pshYlJ1RENO1zSvT4VpCZVZpFpnw4v4LSDds0zDDLcG3MwnQcM4xaxSSdf29j+DxRhxkw19sANx0zVnwywjduqZoEKbL/mMtqO0OXgCOIk188REXw1kJYwDAaFj4jEKhrhnXAWCLR1cAu9Jg1LepUBWV1+zDkRmaJEtX7Y+OXyYWK44n5gEbsoPmeHTeJDDueumEcIMFZYzQCdtdLCT23ANaKa75bxjWiu6aqNHK85IgAVZEo/bpS7HbuWkMTmx/DiIOY="

addons:
  mariadb: '10.4'

  sonarcloud:
    organization: geeshoe
    token:
      secure: Tt8MgwEWOFkG23hA9O0IWjXwXj0s2a8IgV8rDTWMi8CoP1rxZ17Z5pPXjSzOR/oAdXNUTQyjYoqy31+xil5A4+H3QCfreGU5rMTusXFQM52F+5A84ujqJrZRgUMWYJ69j205W05OGmtCXUNGJTB02yVzdMDTNwM1BIwEtBvu9EEDtCv7ezcQRwuUKKryPKhd9LGDnDU8jy5AYi0OHc5HFHaLkw9qVgTjctIUpQrfesAcDGNS5etT8WUk6vTfXyc1FpTP6dEvuBWF140BPnrJtnFlyaak509b4gEATcdBFv57dgEuL2dIPTciuE4Rhk7Y7BTGaR34zJI5wKuUOKhInmcy16/zWc9Wn5Nub/6NA66gFq9L2K12qREIW5zLgtIOt9nKFFooPtIkW4hdCkRy+qQm6xRyz0DaSia1QpHTBWEvFebToa+aPPOoZP9N6JMQnbKera34WV/hHODO2K1IQVd7Mr7ZN5fU3N/a6V7J4psfQnOTZdjrg/48jkJM5unkaVpfUNklQIzYuxUkvx2v/Gpmu+uCpjeAbueMk5ZJmK1H4OCA5S3UN85E3o4b/6ao1QWz65ckH4xkzfxt8+Vbt5NLc9wkz+XauZBOy1cbx5C0sp9JJRBTHKeEWgeBE4nMWrFjSVzZbNLD3bAmyR87DmvomxvGv7T7u+jyw3LCqWY=

matrix:
  fast_finish: true
  include:
  - php: 7.4
    env: COVERAGE=true PHPUNIT_FLAGS="-v --coverage-text --coverage-clover build/logs/clover.xml"
  - php: 7.4
    env: STABILITY="dev"
  allow_failures:
    - env: STABILITY="dev"

before_install:
  - if [[ $COVERAGE != true ]]; then phpenv config-rm xdebug.ini || true; fi
  - if ! [ -z "$STABILITY" ]; then composer config minimum-stability ${STABILITY}; fi;
  - if ! [ -v "$DEPENDENCIES" ]; then composer require --no-update ${DEPENDENCIES}; fi;

install:
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer update ${COMPOSER_FLAGS} --prefer-dist --no-interaction
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter

before_script:
  - sudo mysql -e 'CREATE DATABASE croaker;'
  - sudo mysql -u root -e 'CREATE USER IF NOT EXISTS travis@localhost; GRANT ALL ON *.* TO travis@localhost;'
  - php bin/console doctrine:migrations:migrate -n
  - php bin/console doctrine:fixtures:load -n
  - ./cc-test-reporter before-build

script:
  - composer validate --no-check-lock
  - "./bin/phpunit $PHPUNIT_FLAGS --log-junit=phpunit.report.xml"
#  - sonar-scanner

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT --debug
