parameters:
    level: 7
    paths:
        - src
        - tests
    autoload_directories:
        - %currentWorkingDirectory%/bin/.phpunit/phpunit-8.5-0/src
        - %currentWorkingDirectory%/src/Migrations
    symfony:
        container_xml_path: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        -
            message: '#expects class-string<object>, string given.#'
            path: tests/Contract/AbstractEntityUnitTest.php

        -
            message: '#Unable to resolve the template type ExpectedType in call to method static method#'
            path: tests/Contract/AbstractEntityUnitTest.php

        -
            message: '#You should use assertNull()#'
            path: tests/Contract/AbstractEntityUnitTest.php

        -
            message: '#Method App\Entity\User::getSalt() should return string|null but return statement is missing.#'
            path: src/Entity/User.php