{% extends 'admin/admin_landing.html.twig' %}

{% block title %}Project Status{% endblock %}

{% block body %}
    <h1>Project Status Manager</h1>
    <section>
        {{ include('project_status/_project_status_list.html.twig') }}
    </section>
{% endblock %}